@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");


:root {
    --cor-de-fundo: #7a48f8;
    --branco: #b293ff;
    --laranja: #e5b9ff;
    --azul-degrade: linear-gradient(97.54deg, #5d41a5 35.49%, #986fff 165.37%);
    --fonte-principal: "Poppins";
    --azul: #7905ff;
    --fonte-secundario: "Josefin Sans";
    --preto: #ffffff;
    --cinza: #f8f8f8;
    --cinza-claro: #858585;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}